body {
  align-items: center;
}

.cinza {
  background-color: gray;
}

.verde {
  background-color: green;
}

.amarelo {
  background-color: yellow;
}

a{
  text-decoration: none;
}

a:visited{
  color: black;
}

a:hover{
  color: white;
}